@import "../abstracts/variables";
@import "../components/buttons.scss";

section{
    border: 1px solid $light-gray;
    border-radius: 10px;
    padding: 1rem 1rem 5rem 1rem;

}

    h1{
        font-size: 1.25rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
    }

    table, th, td {
        padding: 0.5rem;
      }
    
      table{
        width: 70vw;
        
        thead tr th,
        tbody tr td{
            &:first-of-type{
                border-radius:5px 0 0 5px;
            }
            &:last-of-type{
                border-radius:0 5px 5px 0;
            }
        }

        thead {
            tr{
                background-color: #0D1321;
                color: #fff;

                th{
                    border: 1px solid #fff;
                   
                }
            }
        }
        tbody{
            tr{
                td{
                    border: 1px solid $light-gray;

                    button{
                        padding: 5px 15px;
                        border-radius: 10px;
                    }
                }
            }
        }
        
    }



