.native-stepper {
  
  .stepper-label {
    display: grid;
    place-items: center;
    border-radius: 50%;
    border: 5px solid hsla(0, 10%, 90%, 0.65);
    aspect-ratio: 1/1;
    &.Active {
      background-color: royalblue;
    }
    &:is(.Completed, .Uncertain) {
      color:white;
      background-color: hsl(120, 80%, 66%);
    }
    &.Uncertain {
      border-color: hsla(60, 100%, 80%, 0.975);
    }
  }
}
