@import '../abstracts/variables.scss';

.input-group{
    background-color:  transparent;
    padding: 5px 10px;
    border: 3px solid  white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
 
    i{
        color: white;
        font-size: 25px
    }; 
}

input{
    background-color:  transparent;
    //padding: 14px 10px;
    border: none;
    color: $primary-color !important;

    &:focus{
        outline: none !important;
        box-shadow: none !important;
        background-color: transparent;
    }

    &::placeholder{
        color: white ;
        font-size: 14px;
        line-height: 19.1px;
        font-weight: 300;

    }
    
}