<section class="auth">
    <div class="container-fluid">
  
      <div class="row g-4 min-vh-100 ">
        <div class="col-lg-6 p-5">
  
          <div>
            <img src="../../../../../assets/imgs/Logo-white.svg" alt="">
          </div>
  
          <h2 class="header">Change password</h2>
  
          
                <form
                  [formGroup]="changePasswordForm"
                  (ngSubmit)="sendChangedPassowrd()"
                  class="mt-1"
                >
                  <div class="row">
                    
    
                <!--password-->
  
  
                  <div class="col-12">
                      <div class="">
                        <label for="oldPassword">Old Password</label>
    
                        <div class="input-group ">
                          <i class="fa-solid fa-key"></i>
                          <input
                            formControlName="oldPassword"
                            [type]="hidePassword ? 'password' : 'text'"
                            class="form-control"
                             placeholder="Type your password"
                            id="oldPassword"
                            aria-label="password"
                            aria-describedby="basic-addon1"
                          />
                          <span>
                            <i
                              (click)="hidePassword = !hidePassword"
                              class="fa-regular fs-5 pe-3 hide"
                              [class]="hidePassword ? 'fa-eye-slash' : 'fa-eye'"
                            ></i>
                          </span>
                        </div>
                      </div>
    
                      <div
                        *ngIf="
                          changePasswordForm.get('oldPassword')?.errors &&
                          changePasswordForm.get('oldPassword')?.touched
                        "
                        class="d-flex align-items-center mt-1"
                      >
                        <img
                        src="../../../../../assets/imgs/invalid.png"
                          width="22"
                          height="22"
                          alt
                          class="mx-2"
                        />
                        <p
                          *ngIf="changePasswordForm.get('oldPassword')?.getError('required')"
                          class="text-danger m-0"
                        >
                       Old password is required                      </p>
                        
                      </div>
                    </div>
                  <div class="col-12">
                      <div class="">
                        <label for="newPassword">New Password</label>
    
                        <div class="input-group ">
                          <i class="fa-solid fa-key"></i>
                          <input
                            formControlName="newPassword"
                            [type]="hidePassword ? 'password' : 'text'"
                            class="form-control"
                             placeholder="Type your password"
                            id="newPassword"
                            aria-label="password"
                            aria-describedby="basic-addon1"
                          />
                          <span>
                            <i
                              (click)="hidePassword = !hidePassword"
                              class="fa-regular fs-5 pe-3 hide"
                              [class]="hidePassword ? 'fa-eye-slash' : 'fa-eye'"
                            ></i>
                          </span>
                        </div>
                      </div>
    
                      <div
                        *ngIf="
                          changePasswordForm.get('newPassword')?.errors &&
                          changePasswordForm.get('newPassword')?.touched
                        "
                        class="d-flex align-items-center mt-1"
                      >
                        <img
                        src="../../../../../assets/imgs/invalid.png"
                          width="22"
                          height="22"
                          alt
                          class="mx-2"
                        />
                        <p
                          *ngIf="changePasswordForm.get('newPassword')?.getError('required')"
                          class="text-danger m-0"
                        >
                       password is required                      </p>
                        <p
                          *ngIf="changePasswordForm.get('newPassword')?.getError('pattern')"
                          class="text-danger m-0"
                        >
                        password length must be at least 3 characters long
                                            </p>
                      </div>
                    </div>
                  <div class="col-12">
                      <div class="">
                        <label for="confirmPassword">confirm Password</label>
    
                        <div class="input-group ">
                          <i class="fa-solid fa-key"></i>
                          <input
                            formControlName="confirmPassword"
                            [type]="hidePassword ? 'password' : 'text'"
                            class="form-control"
                             placeholder="Type your password"
                            id="confirmPassword"
                            aria-label="Username"
                            aria-describedby="basic-addon1"
                          />
                          <span>
                            <i
                              (click)="hidePassword = !hidePassword"
                              class="fa-regular fs-5 pe-3 hide"
                              [class]="hidePassword ? 'fa-eye-slash' : 'fa-eye'"
                            ></i>
                          </span>
                        </div>
                      </div>
    
                      <div
                        *ngIf="
                          changePasswordForm.get('confirmPassword')?.errors &&
                          changePasswordForm.get('confirmPassword')?.touched
                        "
                        class="d-flex align-items-center mt-1"
                      >
                        <img
                        src="../../../../../assets/imgs/invalid.png"
                          width="22"
                          height="22"
                          alt
                          class="mx-2"
                        />
                        <p
                          *ngIf="changePasswordForm.get('confirmPassword')?.getError('required')"
                          class="text-danger m-0"
                        >
                       password is required                      </p>
                        <p
                        *ngIf="changePasswordForm.get('confirmPassword')?.getError('passwordMismatch') && changePasswordForm.get('confirmPassword')?.touched"
                          class="text-danger m-0"
                        >
                            The password and confirm Password fields do not match.
                        </p>
                      </div>
                    </div>
                 
    
                  <button
                    [disabled]="changePasswordForm.invalid "
                    class="primary  mt-4 "
                  >
                  Change 
                  <i class="fa-solid fa-circle-check"></i>
                  
                  </button>
  
                </div>
  
                </form>
          
        </div>
    
        <div class="col-md-6 fullImage  py-3  d-flex align-items-stretch  ">
          <div class="photo  w-100">
           
    
          </div>
        </div>
      </div>
  
    </div>
  
    </section>
    