<section>
  <div class="text-end">
    <button class="dashboard-btn" (click)="openAddViewEditDailog('1000ms','1000ms','',true,false,false)"> 
      <i class="fa-solid fa-circle-plus"></i>
      Add Group
    </button>
  </div>
  <div class="groups-holder p-4 mt-3">
    <h3>Groups List</h3>

    <div class="container-fluid mt-3">
      <div class="row g-3">
        <div class=" col-md-6" *ngFor="let group of AllGroups">
          <div class="group px-3 py-1 d-flex justify-content-between align-items-center">
            <div>
              <h4>Group: {{group.name}}</h4>
              <p class="m-0">No. of students: {{group.students.length}}</p>
            </div>
            <div class="d-flex align-items-center ">
              <i (click)="openAddViewEditDailog('1000ms','1000ms',group._id,false,true,false)"  class="fa-regular fa-eye me-3"></i>
              <i (click)="openAddViewEditDailog('1000ms','1000ms',group._id,false,false,true)" class="fa-regular fa-pen-to-square me-3"></i>
              <i class="fa-regular fa-trash-can"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
