@import '../abstracts/variables.scss';

.auth{
    background-color: $secondary-color;
    min-height: 100vh;
    .header{
        font-weight: 700;
        font-size: 25px;
        line-height: 34.1px;
        color: $green-color;
        margin-top: 2.5rem;
    }
 
    .icon-sign{
        background-color: #333333;
        border: 3px solid #333333;

        border-radius: 10px;
        padding: 20px 0;
        margin: 10px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;

        i{
            font-size: 40px;
            margin-bottom: 5px;
        }
        span{
            font-weight: 700;
            line-height: 21.82px;
        }
        
    }
    .active{

        border: 3px solid $green-color;
        i{
            color: $green-color;
            
        }

    }

    label{
        color: white;
        font-size: 16px;
        line-height: 21.8px;
        font-weight: 700;
        margin-top: 15px;
    }
    .photo{
        background-image: url(../../imgs/Image.png);
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 20px;
    }
   

    .scroll{
        overflow-y: hidden;
    }
  
    
    }
    button{
        width: 40%;
        background-color: #fff;
    }

        
    .the-bottom-link{
        color: #fff;
        a{
            color: $green-color;
        }
    }

    @media screen and (max-width:1200px) {

      

    
            .header{
                font-weight: 500 ;
                font-size: 20px  ;
    
            }
    

     
    }

    @media screen and (max-width:992px) {

        .fullImage{
            display: none !important;
        }
    }