<section class="container-fluid">
    <div class="row">
        <div class="home-card">
            <div class="card-header">
                <h5>Student List</h5>
            </div>
            <div class="card-body mt-2">
                <!-- There are students to show -->
                <div class="d-flex">
                    <div class="me-2">
                        <button class="button outline-primary" [ngClass]="{active: tabIndex === 0}"
                            (click)="navigateTabs(0)">All</button>
                    </div>
                    <div class="me-2">
                        <button class="button outline-primary" [ngClass]="{active: tabIndex === 1}"
                            (click)="navigateTabs(1)">Without Group</button>
                    </div>
                </div>
                <div class="row mt-2">
                    <ng-container *ngIf="displayedStudents.length">
                        <div class="col-md-6 py-1" *ngFor="let student of displayedStudents">
                            <div class="view-group">
                                <div class="prefix p-2 fs-2">
                                    <i class="fa-solid fa-user text-secondary-color"></i>
                                </div>
                                <div class="view-content align-content-center p-2">
                                    <header class="content-title">{{student.first_name + " " + student.last_name |
                                        titlecase}}</header>
                                    <!-- <p class="content-subtitle text-lighter-secondary-color">Average score:
                                        {{student.avg_score.toFixed(2)}}</p> -->
                                </div>
                                <div class="suffix p-3">
                                    <div class="d-flex">

                                        <button class="bg-transparent border-0" *ngIf="!student.group"
                                            (click)="openAddViewEditDailog(student._id,true,false,false)"><i
                                                class="fa-regular fa-plus  me-2 text-warning"></i></button>


                                        <button class="bg-transparent border-0"
                                            (click)="openAddViewEditDailog(student._id,false,true,false)">
                                            <i class="fa-regular fa-eye me-2 text-success"></i>

                                        </button>



                                        <button class="bg-transparent border-0"
                                            (click)="openAddViewEditDailog(student._id,false,false,true)"
                                            *ngIf="student.group">
                                            <i class="fa-regular fa-pen-to-square me-2 text-warning"></i>

                                        </button>

                                        <button class="bg-transparent border-0"
                                            (click)="openDeleteDialog(student._id,student.first_name,'student')">
                                            <i class="fa-regular fa-trash-can text-danger"></i>

                                        </button>


                                    </div>


                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <!-- No students Found -->
                    <ng-container *ngIf="!displayedStudents.length">

                    </ng-container>
                </div>
                <mat-paginator *ngIf="totalCount" #paginator class="demo-paginator" (page)="handlePageEvent($event)"
                    [length]="totalCount" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25]" [pageIndex]="pageIndex"
                    aria-label="Select page">
                </mat-paginator>
            </div>
        </div>
    </div>
</section>