<section class="auth">
  <div class="container-fluid">

    <div class="row g-4 min-vh-100 m-0">
      <div class="col-lg-6 p-5">

        <div>
          <img src="../../../../../assets/imgs/Logo-white.svg" alt="">
        </div>

        <h2 class="header">Create your account and start using QuizWiz!</h2>

        <div class="row ">
          <div class="col-3">
            <div class="icon-sign  cursor-pointer" routerLink="/auth/login">
              <i class="fa-solid fa-user-tie"></i>
              <span>Sign in </span>
            </div>

          </div>

          <div class="col-3">
            <div class="icon-sign active  cursor-pointer" >
              <i class="fa-solid fa-user-plus"></i>
              <span>Sign Up</span>

            </div>

          </div>

        </div>




              <form
                [formGroup]="registerForm"
                (ngSubmit)="register()"
                class="mt-1"
              >
                <div class="row">


                <!--first Name-->
                <div class="col-6">
                  <div class="">
                    <label for="first_name" >Your first name </label>
                    <div class="input-group">
                        <i class="fa-regular fa-address-card"></i>

                      <input
                        formControlName="first_name"
                        type="text"
                        class="form-control "
                         placeholder="Type your first name"
                        id="first_name"
                        aria-label="userName"
                        aria-describedby="basic-addon1"
                      />
                    </div>
                  </div>

                  <div
                    *ngIf="
                      registerForm.get('first_name')?.errors &&
                      registerForm.get('first_name')?.touched
                    "
                    class="d-flex align-items-center mt-1"
                  >
                    <img
                      src="../../../../../assets/imgs/invalid.png"
                      width="22"
                      height="22"
                      alt
                      class="mx-2"
                    />
                    <p
                      *ngIf="registerForm.get('first_name')?.getError('required')"
                      class="m-0 text-danger"
                    >
                    first name is required
                    </p>
                  </div>
                </div>

                 <!--last Name-->
                 <div class="col-6">
                  <div class="">
                    <label for="last_name" >Your last name </label>
                    <div class="input-group">
                      <i class="fa-regular fa-address-card"></i>

                      <input
                        formControlName="last_name"
                        type="text"
                        class="form-control "
                         placeholder="Type your last name"
                        id="last_name"
                        aria-label="userName"
                        aria-describedby="basic-addon1"
                      />
                    </div>
                  </div>

                  <div
                    *ngIf="
                      registerForm.get('last_name')?.errors &&
                      registerForm.get('last_name')?.touched
                    "
                    class="d-flex align-items-center mt-1"
                  >
                    <img
                      src="../../../../../assets/imgs/invalid.png"
                      width="22"
                      height="22"
                      alt
                      class="mx-2"
                    />
                    <p
                      *ngIf="registerForm.get('first_name')?.getError('required')"
                      class="m-0 text-danger"
                    >
                    last name is required
                    </p>
                  </div>
                </div>

                <!--email-->
                <div class="col-12">
                  <div class="mt-1 ">
                    <label for="email">Your email address</label>
                    <div class="input-group">
                      <i class="fa-solid fa-envelope"></i>
                      <input
                        formControlName="email"
                        type="email"
                        class="form-control "
                         placeholder="Type your email"
                        id="email"
                        aria-label="Username"
                        aria-describedby="basic-addon1"
                      />
                    </div>
                  </div>

                  <div
                    *ngIf="
                      registerForm.get('email')?.errors &&
                      registerForm.get('email')?.touched
                    "
                    class="d-flex align-items-center mt-1"
                  >
                    <img
                    src="../../../../../assets/imgs/invalid.png"
                    width="22"
                      height="22"
                      alt
                      class="mx-2"
                    />
                    <p
                      *ngIf="registerForm.get('email')?.getError('required')"
                      class="m-0 text-danger"
                    >
                     email is required
                    </p>
                    <p
                      *ngIf="registerForm.get('email')?.getError('email')"
                      class="m-0 text-danger"
                    >
                    invalid email
                    </p>
                  </div>
                </div>

                     <!--role-->
                     <div class="col-12">
                      <div class="mt-1 ">
                        <label for="role">Your role</label>
                        <div class="input-group">
                          <i class="fa-solid fa-envelope"></i>
                      

                          <select name="" id="role" formControlName="role"   class="form-control bg-transparent text-white"
                          placeholder="your role">
                            <option selected value="Student" class="bg-dark text-white">Student</option>
                            <option value="Instructor" class="bg-dark text-white">Instructor</option>

                          </select>


                        </div>
                      </div>
    
                      <div
                        *ngIf="
                          registerForm.get('role')?.errors &&
                          registerForm.get('role')?.touched
                        "
                        class="d-flex align-items-center mt-1"
                      >
                        <img
                        src="../../../../../assets/imgs/invalid.png"
                        width="22"
                          height="22"
                          alt
                          class="mx-2"
                        />
                        <p
                          *ngIf="registerForm.get('role')?.getError('required')"
                          class="m-0 text-danger"
                        >
                         role is required
                        </p>
                    
                      </div>
                    </div>

                                    <!--password-->


                <div class="col-12">
                    <div class="">
                      <label for="password">Password</label>

                      <div class="input-group ">
                        <i class="fa-solid fa-key"></i>
                        <input
                          formControlName="password"
                          [type]="hidePassword ? 'password' : 'text'"
                          class="form-control"
                           placeholder="Type your password"
                          id="password"
                          aria-label="Username"
                          aria-describedby="basic-addon1"
                        />
                        <span>
                          <i
                            (click)="hidePassword = !hidePassword"
                            class="fa-regular fs-5 pe-3 hide"
                            [class]="hidePassword ? 'fa-eye-slash' : 'fa-eye'"
                          ></i>
                        </span>
                      </div>
                    </div>

                    <div
                      *ngIf="
                        registerForm.get('password')?.errors &&
                        registerForm.get('password')?.touched
                      "
                      class="d-flex align-items-center mt-1"
                    >
                      <img
                      src="../../../../../assets/imgs/invalid.png"
                        width="22"
                        height="22"
                        alt
                        class="mx-2"
                      />
                      <p
                        *ngIf="registerForm.get('password')?.getError('required')"
                        class="text-danger m-0"
                      >
                     password is required                      </p>
                      <p
                        *ngIf="registerForm.get('password')?.getError('pattern')"
                        class="text-danger m-0"
                      >
                      password length must be at least 3 characters long
                                          </p>
                    </div>
                  </div>


                    <!-- Confirm Password -->
            <div class="col-12">
              <div>
                <label for="confirmPassword">Confirm Password</label>
                <div class="input-group">
                  <i class="fa-solid fa-key"></i>
                  <input formControlName="confirmPassword" [type]="hideConfirmPassword ? 'password' : 'text'" class="form-control" placeholder="Type your password again" id="confirmPassword" aria-label="confirmPassword" />
                  <span>
                    <i (click)="hideConfirmPassword = !hideConfirmPassword" class="fa-regular fs-5 pe-3 hide" [class]="hideConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                  </span>
                </div>
              </div>
              <div *ngIf="registerForm.get('confirmPassword')?.errors && registerForm.get('confirmPassword')?.touched" class="d-flex align-items-center mt-1">
                <img src="../../../../../assets/imgs/invalid.png" width="22" height="22" alt class="mx-2" />
                <p *ngIf="registerForm.get('confirmPassword')?.getError('required')" class="text-danger m-0">
                  confirm password is required
                </p>
                <p *ngIf="registerForm.get('confirmPassword')?.getError('compare')" class="text-danger m-0">
                  password do not match
                </p>
              </div>
            </div>

              

              </div>

              <button
              [disabled]="registerForm.invalid "
              class="button primary  mt-3 "
            >

            Sign Up 
            <i class="fa-solid fa-circle-check"></i>
            
            </button>

              </form>

      </div>

      <div class="col-md-6 fullImage  py-3  d-flex align-items-stretch  ">
        <div class="photo  w-100">


        </div>
      </div>
    </div>

  </div>

  </section>
