<section class="questions-holder">
  <div class="header d-flex justify-content-between">
    <h3>Bank Of Questions</h3>
    <button class="dashboard-btn" (click)="openAddEditDialog()">
      <i class="fa-solid fa-circle-plus"></i>
      Add Question
    </button>
  </div>

  <table class="table table-striped">
    <thead>
      <th>Question Title</th>
      <th>Question Desc</th>
      <th>Question difficulty level</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <tr *ngFor="let ques of questionsList">
        <td>{{ques.title.split(' ').slice(0, 6).join(' ')}}...</td>
        <td>{{ques.description}}</td>
        <td>{{ques.difficulty}}</td>
        <td>
          <i class="fa-solid fa-eye me-3" ></i>
          <i class="fa-regular fa-pen-to-square me-3" (click)="openAddEditDialog(ques._id)"></i>
          <i class="fa-regular fa-trash-can"></i>
        </td>
      </tr>
    </tbody>
  </table>
</section>
