<nav class="d-flex  align-items-center justify-content-between gap-5" #mainNav>
    
  
    <div class="main-div route-content d-flex align-items-center justify-content-between gap-3">
      <h3 class="m-0 text-capitalize">{{ routePath }}</h3>
      <a *ngIf="loggedInRole == 'Instructor'" class="d-flex align-items-center gap-2 new-action" role="button"> 
        <img src="./../../../../assets/imgs/Vector.png" class="" alt="alarm new quiz">
        <p class="m-0">New quiz</p>
      </a>
    </div>
    <div class="main-div user-details d-flex flex-column align-items-start">
      <div class="d-flex align-items-center gap-3">
        <h3 class="m-0">{{ userName }}</h3>

      </div>
      <span class="m-0 user-role">{{ loggedInRole }}</span>
    </div>

    <div class="dropdown">
        <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
        </button>
        <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton2">
          <li><a class="dropdown-item cursor-pointer" (click)="onUpdateProfile();"><i class="fa-solid fa-up-right-from-square"></i> Update Profile</a></li>
          <li><a class="dropdown-item cursor-pointer" (click)="openChangePass()"><i class="fa-solid fa-pencil"></i> Change Password</a></li>
          <li><hr class="dropdown-divider "></li>
          <li><a class="dropdown-item cursor-pointer" (click)="logout()" ><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a></li>
        </ul>
      </div>
  
  </nav> 