<section class="auth">
    <div class="container-fluid">
  
      <div class="row g-4 min-vh-100 py-5">
        <div class="col-lg-6 p-5 d-flex flex-column">
  
          <div>
            <img src="../../../../../assets/imgs/Logo-white.svg" alt="logo">
          </div>
  
          <h2 class="header">Forgot password</h2>

                <form [formGroup] ='forgotForm'
                  (ngSubmit)="sendRequestForm()"
                  class="mt-1"
                >
                <div class="row align-content-between g-9">
                    
    
    
                  <!--email-->
                  <div class="col-12">
                    <div class="mt-1 ">
                      <label for="email">Your email address</label>
                      <div class="input-group">
                        <i class="fa-solid fa-envelope"></i>
                        <input
                          formControlName="email"
                          type="email"
                          class="form-control "
                           placeholder="Type your email"
                          id="email"
                          aria-label="Username"
                          aria-describedby="basic-addon1"
                        />
                      </div>
                    </div>
    
                    <div
                      *ngIf="
                        forgotForm.get('email')?.errors &&
                        forgotForm.get('email')?.touched
                      "
                      class="d-flex align-items-center mt-1"
                    >
                      <img
                      src="../../../../../assets/imgs/invalid.png"
                      width="22"
                        height="22"
                        alt
                        class="mx-2"
                      />
                      <p
                        *ngIf="forgotForm.get('email')?.getError('required')"
                        class="m-0 text-danger"
                      >
                       email is required
                      </p>
                      <p
                        *ngIf="forgotForm.get('email')?.getError('email')"
                        class="m-0 text-danger"
                      >
                      invalid email
                      </p>
                    </div>
                  </div>
                 
                  <div class="col-12">
                    <button
                    [disabled]="forgotForm.invalid "
                    class="primary  my-5 ">
  
                    Send email 
                    <i class="fa-solid fa-circle-check"></i>
                  </button>
                  </div>
                  
  
                </div>
  
                </form>

          <p class="the-bottom-link align-self-end">Login?  
            <a routerLink="/auth/login">click here</a>
          </p>
          
        </div>
    
        <div class="col-md-6 fullImage    d-flex align-items-stretch  ">
          <div class="photo  w-100">
          </div>
        </div>
      </div>
  
    </div>
  
    </section>
    