section{
  width: 800px;
  height: 500px;
}
.header{
  border-bottom: 1px solid #ccc;
}

.form-item{
  margin-bottom: 10px;
  label{
    background-color: #FFEDDF;
    border-radius: 7px;
    font-weight: bold;
    height: 100%;
    padding: 10px 20px
  }
  input{
    color: #000 !important;
    margin-left: 10px;
    width:80%
  }
}
.mat-mdc-select{
  width: 50%
}

button{
  border:none;
  outline: none;
  background-color: transparent;
}
