@import '../../../../../../../../assets/styles/components/results-tables';


.new-action {
    color: #000;
    border-radius: 20px;
    border: 1px solid #0000004d;
    padding: 10px;
  }

  tbody{
    td{
      i{
        cursor: pointer;
      }
    }
  }

