$primary-color:#FFEDDF;

$secondary-color:#0D1321;
$lighter-secondary-color: hsla(222, 43%, 9%, 0.8);

$green-color: #C5D86D;

$disabled-primary-color:#ffeddfb6;
$light-gray: hsla(0, 20%, 80%, 0.5);

$border-color:#dcdcdc;

$color-red:rgb(220, 53, 69);
$color-check:rgb(83, 233, 83);