@import './variables.scss';

.bg-primary-color{
    background-color: $primary-color;
}

.bg-secondary-color{
    background-color: $secondary-color;
}

.bg-green-color{
    background-color: $green-color;
}