@import './variables.scss';

.text-primary-color{
    color: $primary-color;
}

.text-secondary-color{
    color: $secondary-color;
}
.text-red-color{
    color: $red-color;
}
.text-green-color{
    color: $green-color;
}