<div class="container-fluid">
    <div class="row  g-4">
        <div class="col-lg-6">

            <div class="home-card">
                <div class="card-header">
                    <h5>Upcoming 5 quizzes </h5>
                    <a routerLink="/instructor/dashboard/quizzes">All quizzes <span><i
                                class="fa-solid fa-arrow-right"></i></span></a>
                </div>
                <div class="card-body">
                    <ng-container *ngIf="incommingQuiz.length">
                        <ng-container *ngFor="let quiz of incommingQuiz">
                            <app-quiz-card [quiz]="quiz" [needJoin]="true"></app-quiz-card>
                        </ng-container>
                    </ng-container>
                    <!-- No students Found -->
                    <ng-container *ngIf="!incommingQuiz.length">

                        <app-no-data></app-no-data>

                    </ng-container>
                </div>
            </div>

        </div>
        <div class="col-lg-6">
            <div class="home-card">
                <div class="card-header">
                    <h5>Last completed quizzes </h5>
                    <a routerLink="/instructor/dashboard/students">All quizzes <span><i
                                class="fa-solid fa-arrow-right"></i></span></a>
                </div>
                <div class="card-body my-3">

                
                        <table class="w-100" *ngIf="completedQuiz.length">
                            <thead>
                                <tr class="">
                                    <th>Title</th>
                                    <th>Type</th>
                                    <th>Participants</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let quiz of completedQuiz">
                                    <td class="">{{quiz.title}}</td>
                                    <td>{{quiz.type}}</td>
                                    <td>{{quiz.participants}}</td>
                                    <td>{{quiz.schadule.slice(0,10)}}</td>
                                 
                                </tr>
                            </tbody>
                        </table>

                        <ng-container *ngIf="!completedQuiz.length">

                            <app-no-data></app-no-data>
    
                        </ng-container>
                   
                </div>
            </div>
        </div>
    </div>
</div>